.el-aside {
    transition: width 0.3s ease-in-out;
}

.el-container {
    height: 100vh;
    font-family: Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
.management {
    padding: 20px;
    background-color: #f5f7fa;
    min-height: 100vh;
}
