<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NoticeMapper">
    <select id="selectAllNotice" resultType="com.example.demo.entity.Notice">
        SELECT n.*, u.name AS author
        FROM `notice` n
        LEFT JOIN `user` u ON n.uid = u.uid
        ORDER BY n.publishDate DESC
    </select>

    <select id="selectByNid" parameterType="long" resultType="com.example.demo.entity.Notice">
        SELECT n.*, u.name AS author
        FROM `notice` n
        LEFT JOIN `user` u ON n.uid = u.uid
        WHERE n.nid = #{nid}
    </select>
</mapper>