<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NoticeMapper">
    <select id="selectAllNotice" resultType="com.example.demo.entity.Notice">
        SELECT *
        FROM `notice`
        <where>
            <if test="title != null and title != ''">and title like concat('%', #{title}, '%')</if>
            <if test="type != null and type != ''">and type like concat('%', #{type}, '%')</if>
            <if test="author != null and author != ''">and author like concat('%', #{author}, '%')</if>
            <if test="uid != null and uid != ''">and uid like concat('%', #{uid}, '%')</if>
        </where>
        ORDER BY publishDate DESC
    </select>

    <select id="selectByNid" parameterType="long" resultType="com.example.demo.entity.Notice">
        SELECT *
        FROM `notice` n
        WHERE nid = #{nid}
    </select>

    <insert id="insertNotice" parameterType="com.example.demo.entity.Notice">
        INSERT into notice(title,type,summary,attachments,content,publishDate,uid,author,status)
        values (#{title},#{type},#{summary},#{attachments},#{content},#{publishDate},#{uid},#{author},#{status})
    </insert>

    <update id="updateNotice">
        UPDATE `notice`
        <set>
            <if test="title != null and title != ''">title=#{title}, </if>
            <if test="type != null and type != ''">type=#{type}, </if>
            <if test="summary != null and summary != ''"> summary=#{summary}, </if>
            <if test="content != null and content != ''"> content=#{content}, </if>
            <if test="publishDate != null"> publishDate=#{publishDate},</if>
            <if test="views != null and views != ''">views=#{views},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="attachments != null and attachments != ''">attachments=#{attachments}</if>
        </set>
        WHERE nid=#{nid}
    </update>

    <delete id="deleteByNid">
        DELETE FROM `notice` WHERE nid=#{nid}
    </delete>
</mapper>