<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SupplierMapper">

    <select id="selectAll" resultType="com.example.demo.entity.Supplier">
        select * from `supplier`
        <where>
            <if test="code != null and code != ''">
                AND code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="contactPerson != null and contactPerson != ''">
                AND contact_person LIKE CONCAT('%', #{contactPerson}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.example.demo.entity.Supplier">
        SELECT *
        FROM `supplier`
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.example.demo.entity.Supplier">
        UPDATE `customer`
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="taxNumber != null">tax_number = #{taxNumber},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM `supplier` WHERE id = #{id}
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM `supplier`
    </select>
</mapper>