<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lunabaka.mapper.SysMenuMapper">

    <select id="selectByParentId" resultType="com.lunabaka.entity.SysMenu">
        select * from sys_menu where id=#{pid}
    </select>
</mapper>