<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.WarehouseMapper">
    <select id="selectAllWarehouse" resultType="com.example.demo.entity.Warehouse">
        SELECT * FROM `warehouse`
        <where>
            <if test="code != null and code != ''">and code like concat('%', #{code}, '%')</if>
            <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
            and del_flag!=1
        </where>
    </select>

    <select id="selectById" parameterType="long" resultType="com.example.demo.entity.Warehouse">
        SELECT *
        FROM `warehouse`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.Warehouse">
        insert into `warehouse`(code,name,kind,address,manager,phone,status,create_time) 
        values (#{code},#{name},#{kind},#{address},#{manager},#{phone},#{status},NOW())
    </insert>

    <update id="updateById" parameterType="com.example.demo.entity.Warehouse">
        UPDATE `warehouse`
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="kind != null">kind = #{kind},</if>
            <if test="address != null">address = #{address},</if>
            <if test="manager != null">manager = #{manager},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id} AND (del_flag IS NULL OR del_flag != 1)
    </update>

    <update id="deleteById" parameterType="com.example.demo.entity.Warehouse">
        update `warehouse` set del_flag = 1 where id = #{id}
    </update>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM `warehouse` WHERE del_flag != 1
    </select>
</mapper>